.challenges-leaderboard {
  background-image: url('../../assets/images/bg.png');
  background-repeat: repeat-y;
  background-size: 100% auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

