.home-main {
  display: flex;
  flex-direction: column;
}

.home-sections {
  min-height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.first-home {
  background-color: #FF9C07;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: white;
  }
}

.second-home {
  background-color: black;
  color: white;
}

.third-home {
  background-color: #2A2A2A;
  color: white;
}

.sign-up-btn,
.login-btn {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.4px;
  color: #FFFFFF;
}

.login-btn {
  background-color: #3F3F3F;
  &:hover {
    background-color: lighten($color: #3F3F3F, $amount: 10%);
  }
}

.sign-up-btn {
  background-color: #D04A02;
  &:hover {
    background-color: lighten($color: #D04A02, $amount: 10%);
  }
}

@media (min-width: 768px) {

  .sign-up-btn,
  .login-btn {
    width: 180px;
    height: 60px;
    font-size: 22px;
  }
}