.home-main {
  display: flex;
  flex-direction: column;
}

.cta-buttons {
  margin-bottom: 20px;
}

.home-sections {
  min-height: 200px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  h1 {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 33px;
    color: black;
    width: 100%;
    margin-top: 30px;
  }

  p {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 30px 0;
  }
}

.first-home {
  background-color: #FF9C07;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.second-home {
  background-color: black;
  color: white;
}

.third-home {
  background-color: #2A2A2A;
  color: white;
}

.sign-up-btn,
.login-btn {
  border: none;
  outline: none;
  box-shadow: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 100px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.4px;
  color: #FFFFFF;
}

.login-btn {
  background-color: #3F3F3F;

  &:hover {
    background-color: lighten($color: #3F3F3F, $amount: 10%);
  }
}

.sign-up-btn {
  background-color: #D04A02;

  &:hover {
    background-color: lighten($color: #D04A02, $amount: 10%);
  }
}

.home-img-container {
  width: 40%;
  img {
    width: 100%;
  }
}

.home-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  margin-left: 20px;
}

@media (min-width: 769px) {

  .sign-up-btn,
  .login-btn {
    width: 180px;
    height: 60px;
    font-size: 22px;
  }
}

@media (max-width: 1100px) {
  .home-img-container {
    display: none;
  }
  .home-text {
    width: 80%;
  }
}

@media (max-width: 768px) {


  .home-text {
    min-width: 320px;
    width: 40%;
    p {
      display: none;
    }
    h1 {
      margin: 0;
    }
  }
  .cta-buttons {
    margin-top: 20px;
    margin-bottom: 0;
  }
}