.comp-logo {
  max-height: 50px;
  max-width: 50px;
  display: flex;
  align-items: center;
}

.css-1gx4r82 { // this relates to the width of the div that contains the elements in the navbar
  width: 100%;
}

.css-lrqzu2 { // this relates to the div that contains the logos
  align-items: center;
}