.avatar {
  height: 30px !important;
  width: 30px !important;
  cursor: pointer;
}

.css-1kj8bmn-MuiTypography-root {
  // this relates to the Leaderboard text
  margin: 0 24px !important;
}

.mobile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icons-spacing {
  height: 30px !important;
  width: 30px !important;
  margin-right: 20px !important;
}

.nav-icons-sizing {
  height: 30px !important;
  width: 30px !important;
  color: white;
}

.nav-icons-sizing.active-icon {
  color: #FF9C07 !important;
}

@media (min-width: 768px) {
  .avatar {
    height: 40px !important;
    width: 40px !important;
    margin-right: 0px !important;
  }
}